body{
    background-color: slategrey;
}

.imagen {
    width: 200px;
    height: 300px;
    border-radius: 50px;
    border-width: 10px;
    border-color: #ffffff;
    border-style: solid;
}

.contenedor {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;  
}

.celda {
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
    margin-right: 50px;
    margin-top: 25px;
    border-radius: 500px;
    cursor: pointer;
}