body {
    background-color: #7F19FF;
}

.card {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 25px;
    margin-right: 50px;
    box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.image {
    border-radius: 30px;
    padding: 10px;
}

.menu {
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

.milligram {
    border-style: solid;
    color: #9b4dca;
    border-radius: 20px;
    text-align: center;
    margin: 10px 15% 10px 10%;
    font-weight: bold;
}